environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}

overview {
    workspace-shadow {
        off
    }
}

gestures {
    hot-corners {
        bottom-left
    }
}

output "eDP-1" {
    scale 1.875
}

recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

switch-events {
    lid-close {
        spawn "sh" "-c" "$HOME/scripts/hypridle/save-kbd-brightness-and-dim.sh; pidof hyprlock || hyprlock -q"
    }
    lid-open {
        spawn "sh" "-c" "$HOME/scripts/hypridle/restore-kbd-brightness.sh"
    }
}

hotkey-overlay {
    skip-at-startup
}

debug {
    honor-xdg-activation-with-invalid-serial
}

screenshot-path "/tmp/screenshot.png"