// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
    match namespace="wlr_which_key"
    geometry-corner-radius 10
    background-effect {
        blur true
    }
}

window-rule {
    match title="Runner"
    open-floating true
    min-width 850
    max-width 850
    min-height 420
    max-height 420
}

window-rule {
    popups {
        geometry-corner-radius 15
        opacity 0.9
        background-effect {
            blur true
        }
    }
}

window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="thunar"
    match app-id="xed"
    match app-id="yad"
    opacity 0.9
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="codium"
    match app-id="obsidian"
    opacity 0.95
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="com.gabm.satty"
    open-floating true
    max-width 1200
    max-height 750
}

window-rule {
    match app-id="io.missioncenter.MissionCenter"
    open-maximized false
    open-floating true
    min-width 1000
    max-width 1000
    min-height 650
    max-height 650
}

window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="yad"
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}

window-rule {
    match app-id=r#"^resolve$"#
    exclude title=r#"DaVinci Resolve Studio"#
    open-floating true
}

window-rule {
    match app-id=r#"^resolve$"# title=r#"DaVinci Resolve Studio"#
    open-fullscreen false
    open-maximized-to-edges true
}