// hyprlock
spawn-sh-at-startup "(pidof hyprlock || hyprlock -q) || niri msg action quit --skip-confirmation"

// hyprlock first key press fix
spawn-sh-at-startup "$HOME/scripts/send-keypress-at-startup.sh"

// hypridle
spawn-sh-at-startup "pidof hypridle || hypridle &"

// swaybg
spawn-sh-at-startup "swaybg -m fill -i \"$HOME/.config/.EffectsWallpaper.png\" &"

// Script that makes background image for hyprlock and wlogout
spawn-sh-at-startup "$HOME/scripts/niri_make-effects-wallpaper.sh"

// libinput-gestures
spawn-sh-at-startup "systemctl --user start libinput-gestures &"