[Desktop Entry]
Comment=
Exec=dim-overlay-undim
Icon=/home/taylor/.dotfiles/icons/brighten-screen.png
Name=Brighten Screen
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
