[Desktop Entry]
Exec=kitty --start-as maximized
Name=Kitty
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
