[Desktop Entry]
Comment=
Exec=firefox
Icon=/home/taylor/.dotfiles/icons/firefox.svg
Name=Firefox
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
