[Desktop Entry]
Comment=
Exec=xdg-open https://www.amazon.com/primevideo
Icon=/home/taylor/.dotfiles/icons/primevideo.png
Name=Prime Video
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
