[Desktop Entry]
Exec=dim-overlay-off
Name=Restore Brightness
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
