[Desktop Entry]
Exec=/home/taylor/scripts/plasma_change-wallpaper.sh
Icon=application-x-shellscript
Name=plasma_change-wallpaper.sh
Type=Application
X-KDE-AutostartScript=true
